html:global(.white) {
  --select-item-background-color: #f4f7f9;
  --button-background-color: #BB874A;
}

html:global(.black) {
  --select-item-background-color: #f4f7f9;
  --button-background-color: #BB874A;
}
