.new-group-box {
  padding: 50px;
  padding-bottom: 60px;

  .mask-title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 34px;
    color: var(--main-text-color);
  }
}

.new-group-btn {
  display: flex;
  height: 100px;
  line-height: 100px;
  border-top: 1px solid var(--divide-line-color);

  /* stylelint-disable-next-line no-descending-specificity */
  input {
    outline: none;
    background-color: transparent;
    border: none;
  }
}

.cancel,
.confirm {
  text-align: center;
  width: 48%;
  flex-grow: 1;
  font-size: 30px;
  font-weight: 500;
  font-weight: bold;
}

.confirm {
  color: var(--main-text-color);
}

.cancel {
  color: var(--secondary-text-color);
}

.confirm:disabled {
  color: var(--disable-text-color);
}

.line {
  width: 1px;
  height: 100%;
  background-color: var(--divide-line-color);
}

.inp-box {
  height: 70px;
  background:  var(--input-background);
  border-radius: 8px;
  display: flex;
  align-items: center;
  position: relative;

  :global {
    .adm-input {
      --placeholder-color: var(--secondary-text-color);
      --adm-color-text: var(--main-text-color);

      height: 100%;
      background: var(--fill-4);
      border-radius: var(--border-radius-5);
    }

    input {
      font-size: 26px;
      text-indent: 20px;
      caret-color: var(--brand-6-hover);
      padding-right: 48px;
    }

    input::placeholder {
      font-weight: 400;
    }
  }

  .inp-tips {
    position: absolute;
    left: 0;
    bottom: -40px;
    height: 40px;
    font-size: 26px;
    font-weight: 400;
    color: var(--red-8-normal-error);
    line-height: 40px;
  }
}

.clear {
  width: 48px;
  height: 48px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}
