html:global(.white) {
  --theme-background-two: #fff;
  --font-color: #212121;
  --package-option: #999;
  --package-border: #f1f1f1;

  --tail-phone-color-text: #187FFF;
}

html:global(.black) {
  --theme-background-two: #11151e;
  --package-border: #000001;
  --font-color: #ddd;
  --package-option: #666;
  // TODO
  --tail-phone-color-text: #187FFF;
}

.package-details {
  width: 100%;
  height: 100%;
  // background-color: var(--main-page-background);
}

.top {
  padding: 24px 24px 20px;
  // border-bottom: 8px solid var(--theme-background);
  // background-color: var(--theme-background-two);

  .top-img {
    width: 100%;
    height: 240px;
    border-radius: 8px;
  }

  .top-info {
    position: absolute;
    top: 64px;
    left: 50px;
  }
}

.option {
  padding: 20px 33px 0 30px;
  font-size: 24px;
  line-height: 40px;
  color: var(--secondary-text-color);

  p:first-child {
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 10px;
  }
}

.top-wrap {
  display: flex;
  justify-content: space-around;
  margin-top: 24px;
  width: 100%;
  background-color: var(--theme-background-two);
  padding: 30px 20px;
  border-radius: 16px;

  .top-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .top-item-img {
      width: 40px;
      height: 40px;
    }

    .top-item-name {
      padding-top: 12px;
      height: 33px;
      font-size: 24px;
      text-align: center;
      color: var(--main-title-color);
      line-height: 33px;
    }
  }
}

.terminal {
  padding-left: 10px;
}

.middle {
  background-color: var(--main-content-background);
  margin: 0 24px 20px;
  border-radius: 16px;
}

.middle-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 100px;
  font-size: 30px;
  color: var(--main-content-color);
  border-bottom: 2px solid var(--package-border);

  .middle-item-name {
    color: var(--main-text-color);
  }
}

.tail {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--package-option);
}

.tail-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  padding-bottom: 5px;
}

.tail-click {
  display: flex;
  width: 100%;
  height: 110px;
  font-size: 30px;
  text-align: center;
  background-color: var(--main-content-background);
  padding: 11px 50px;
}

.buy-click {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-theme-color);
  color: #fff;
  border-radius: 44px;
}
