.red-up-green-down {
  .price-raise {
    color: var(--stock-decline-color) !important;
  }

  .price-decline {
    color: var(--stock-rise-color) !important;
  }
}

// 绿涨红跌
.green-up-red-down {
  .price-raise {
    color: var(--stock-rise-color) !important;
  }

  .price-decline {
    color: var(--stock-decline-color) !important;
  }
}
