html {
  // scrollbar
  --scrollbar-thumb-border-color: #fff;
  --scrollbar-thumb-background-start: #d8d8d8;
  --scrollbar-thumb-background-end: #b2b1b1;
  --scrollbar-track-color: transparent;
  //
  --main-text-color: #333;
  --main-bgc: #fff;
}
