html:global(.white) {
  --theme-background: #fff;
  --theme-border: #f2f2f5;
  --font-color: #212121;
  --purchase-option: #999;
  --purchase-name: #666;
  --purchase-time: #F55D5D;
}

html:global(.black) {
  --theme-background: #11151e;
  --theme-border: #000001;
  --font-color: #ddd;
  --purchase-option: #666;
  --purchase-name: #999;
  --purchase-time: #ff6c00;
}

.order-wrap {
  min-height: 100%;
  position: relative;
  font-size: 24px;
  background-color: var(--main-page-background);
  padding: 20px 30px;

  .order-none {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}

.item {
  padding: 24px 40px 26px 24px;
  // height: 342px;
  border-bottom: 2px solid var(--theme-border);
  background-color: var(--main-content-background);
  box-sizing: border-box;
  border-radius: 16px;
  margin-bottom: 20px;
  color: var(--main-text-color);
  position: relative;

  .item-header {
    border-bottom: 1PX solid var(--border-line-color);
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .icon-tag {
    width: 160px;
    height: 52px;
    position: absolute;
    top: 0;
    left: 0;

    .icon-tag-text {
      font-size: 24px;
      color: var(--main-content-background);
      position: absolute;
      top: 3px;
      left: 10px;
    }
  }

  .item-name {
    font-size: 32px;
    font-weight: bold;
    color: var(--font-color);
    line-height: 46px;
    margin-top: 15px;
  }

  .item-order {
    padding: 8px 0 30px;
    height: 40px;
    font-size: 28px;
    font-weight: bold;
    color: var(--purchase-time);
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .item-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;
    margin-top: 20px;
    font-size: 26px;
    color: var(--secondary-text-color);
    border-radius: 6px;

    .item-time {
      color: var(--main-text-color);
    }
  }

  .effect {
    color: #5ECB87;
    background: #F0FEF8;
    padding: 4px 8px;
    border-radius: 6px;
  }

  .pending {
    color: #FF901A;
    background: #FFF4E6;
    padding: 4px 8px;
    border-radius: 6px;
  }

   .overdue {
    color: #86909C;
    background: #F7F8FA;
    padding: 4px 8px;
    border-radius: 6px;
  }
}
