$main-txt-color: rgba(255, 255, 255, 80%);
$link-txt-color: #4f9bff;
$menu-bar-bg: #1b2336;
$menu-bar-highlight-bg: #31394f;
$menu-bar-active-bg: #566179;
$trade-nav-bg: #283045;
$profit-lighting: #ff2b47;
$loss-lighting: #2ec87b;
$optional-lighting: #ffc74c;
$module-title-height: 26px;
$module-title-bg-color: #373e47;
$module-bg-color: #1d1e23;
$module-highlight-bg-color: #59616e;
$module-border-color: #000;
$table-head-bg-color: #1f2125;
$table-border-color: #282c38;
$highlight-btn-bg-color: #ff8e01;
$white: #fff;
$black: #000;

:root:root {
  --adm-font-size-main: 13px;
}
