/* stylelint-disable selector-class-pattern */
th,
td {
  position: relative;
  box-sizing: border-box;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: normal;
  background-color: inherit;
  line-height: 1;
}

th {
  height: 67px;
  color: #86909c;
  font-size: 26px;
  font-weight: 400;
  line-height: 33px;
}

tbody tr {
  height: 112px;
}

td {
  font-size: 30px;
  color: var(--main-text-color);
}

:global {
  html body .expand-tr {
    td {
      border-bottom: 0;
    }
  }

  .__arrow_padding {
    padding-right: 30px;
  }

  .arrow_icon {
    width: 40px;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;
    background-image: url('./images/icon_date_sort_default_16.svg');
    background-repeat: no-repeat;
    background-position: center center;
  }

  .up.arrow_icon {
    background-image: url('./images/icon_date_sort_up_16.svg');
  }

  .down.arrow_icon {
    background-image: url('./images/icon_date_sort_down_16.svg');
  }

  [data-scroll='true'] {
    th[class*='title-hidden'],
    td[class*='item-hidden'] {
      //box-shadow: 10px 0 10px 0 #f6f7f9;
    }
  }

  [data-end-scroll='true'] {
    --bg: #ebebeb4f;
  }

  [data-end-scroll='false'] {
    --bg: transparent;
  }
}

.t-l {
  position: relative;
  height: 100%;

  &::-webkit-scrollbar {
    display: none !important;
    width: 0;
    height: 0;
  }
}

.t-l-c_footer {
  line-height: 96px;
  font-size: 48px;
  text-align: center;
  color: #cecece;
}

.no_message {
  position: sticky;
  left: 0;
  top: 0;
  padding-top: 184px;
  padding-bottom: 64px;
  font-size: 48px;
  line-height: 40px;
  color: #cecece;
  text-align: center;

  img {
    height: 200px;
  }
}

.right_icon {
  position: absolute;
  top: 48px;
  right: 0;
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent #ccc;
}

.--table {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  touch-action: pan-x pan-y;

  &:after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    pointer-events: none;
    user-select: none;
    content: '';
    // box-shadow: 0 0 10px 10px #f6f8ff;
  }

  div {
    touch-action: pan-x pan-y;
  }

  table {
    table-layout: fixed;
    position: relative;
    background-color: #fff;
    touch-action: pan-x pan-y;
  }

  tbody thead {
    width: 100%;
    touch-action: pan-x pan-y;
  }

  .add-dom-td {
    border: 0;
    padding: 0;
    overflow: visible;
    position: sticky;
    left: 0;
  }

  .title-hidden,
  .item-hidden {
    position: sticky !important;
    left: 0;
    z-index: 1;
    background-color: #fff;
  }

  .wrapper-table-box {
    position: relative;
    width: 100%;
    overflow-y: hidden;
  }
}

.more-shadow {
  position: absolute;
  top: 0;
  right: -4px;
  width: 60px;
  height: 100%;
  // background-color: rgba(255, 255, 255, 60%);
  z-index: 999;
  transition: background 0.3s;
  pointer-events: none;
}

[data-end-scroll='true'] > .more-shadow {
  // background: transparent;
  opacity: 0;
}

.loading-more {
  height: 110px;
  line-height: 110px;
  width: 100%;
  text-align: center;
  background: inherit;
  font-size: 24px;
  font-weight: 400;
  color: #c9cdd4;
}

.sticky-children {
  position: sticky;
  left: 0;
}

.status-box {
  height: 100%;
  text-align: center;
  padding: 40px 0;
  width: 100%;
  font-size: 24px;
}
