$bg-header: #ffffff; // 头部背景色
// $bg-sidebar: #f0f0f0; // 侧边栏背景色
$bg-sidebar-left: #e9eaee; // 侧边栏左边背景色
$bg-sidebar-right: #f5f6f8; // 侧边栏右边背景色
$bg-menu: #f5f6f8; // 菜单背景色
$bg-main: #fefefe; // 主体背景色

$icon-color: #666; // icon 颜色

$text-header: #000000; // 头部文字颜色
$text-menu-item: #868890; // 菜单文字颜色
$text-sub-menu: #212121; // 菜单文字颜色
$text-primary-color: #409eff;
