// .tab-x {
//   // padding: 0 24px;
// }

.tab-list {
  display: flex;
  padding: 6px;
  border-radius: 16px;
  font-size: 28px;
  background-color: #eeeff4;
}

.tab-item {
  flex: 1;
  text-align: center;
  padding: 8px 0;
  color: var(--secondary-text-color);

  &.active {
    border-radius: 16px;
    color: var(--main-theme-color);
    transition: all 0.3s ease;
    background-color: var(--main-content-background);
  }
}
