.global_loading {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .3rem;

  // background-color: var(--main-page-background);

  img {
    animation: rotate-img 1.5s linear infinite reverse;
  }

  .no-network {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 40px;
    color: var(--main-content-color);
  }

  .no-network-button {
    margin-top: 24px;
    padding: 6px 28px;
    border-radius: 6px;
    background-color: var(--link-color);
    color: #fff;
  }

  @keyframes rotate-img {
    from {
      transform: rotate(360deg);
    }

    to {
      transform: rotate(0deg);
    }
  }
}
