/* stylelint-disable color-function-notation */
@import '../var';

html:global(.white) {
  /* stylelint-disable-next-line max-line-length */
  --picker-view-background: linear-gradient(0deg, rgba(255, 255, 255, 60%) 0%, rgba(255, 255, 255, 80%) 50%, var(--second-page-background));
  --picker-view-background-bottom:
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 60%) 0%,
      rgba(255, 255, 255, 80%) 50%,
      var(--second-page-background)
    );
  --picker-border-color: #eee;
  --modal-mian-background: #fff;
  --title-name: #000;
}

html:global(.black) {
  /* stylelint-disable-next-line max-line-length */
  --picker-view-background: linear-gradient(0deg, rgba(0 0 0 / 20%) 50%, rgba(0 0 0 / 61%) 100%, var(--second-page-background));
  --picker-view-background-bottom: var(--picker-view-background);
  --picker-border-color: 1px solid var(--second-page-background);
  --modal-mian-background: #12161f;
  --title-name: #ddd;
}

// rgba(0, 0, 0, 95%) rgba(0, 0, 0, 60%) rgba(0, 0, 0, 95%)
:global {
  body .adm-popup-body { // 日期的选择样式
    background: var(--main-page-background);

    .adm-picker-view {
      background: var(--main-page-background);
    }

    .adm-picker-view-mask-bottom {
      background: var(--picker-view-background-bottom);

      // background: var(--picker-view-background);
    }

    .adm-picker-view-mask-top {
      background: var(--picker-view-background);
    }

    .adm-picker-view-column-item-label {
      color: var(--main-title-color);
    }

    .am-picker-col-item {
      color: var(--main-title-color);
    }

    .adm-picker-header {
      border-bottom: solid 1px var(--picker-border-color);
    }

    .adm-picker-view-mask-middle {
      border-bottom: var(--picker-border-color);
      border-top: var(--picker-border-color);
    }
  }

  body .adm-modal-main { // 弹窗样式
    background-color: var(--modal-mian-background);

    .adm-space.adm-space-block {
      color: var(--main-title-color);
    }

    .adm-auto-center { // 弹窗样式
      color: var(--main-title-color);
    }
  }

  body .adm-button {// 下拉选项中的样式
    background-color: var(--modal-mian-background);
  }

  body .adm-popover-inner {
    background-color: var(--modal-mian-background);
  }

  body .adm-popover-inner-menu {
    border-bottom: 1px solid var(--picker-border-color);
  }

  body .adm-popover-arrow-content {
    background-color: var(--modal-mian-background);
  }
}
