html.white {
  --picker-border-color: #eee;
  --modal-mian-background: #fff;
  --title-name: #000;
  --button-primary-color: #2758d1;
  --button-primary-color-confirm: #fff;
  --picker-view-background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 30%) 0%,
    rgba(255, 255, 255, 40%) 50%,
    var(--second-page-background)
  );
  --picker-view-background-bottom: linear-gradient(
    180deg,
    rgba(255, 255, 255, 30%) 0%,
    rgba(255, 255, 255, 40%) 50%,
    var(--second-page-background)
  );
  --adm-color-primary: var(--link-color);
}

body .adm-button {
  // 下拉选项中的样式
  background-color: var(--modal-mian-background);
}

body .adm-popover-placement-bottomLeft .adm-popover-arrow {
  color: transparent;
}

body .adm-radio {
  // --icon-size: 24px;
  --font-size: 24px;
}

// 默认提示

html body .modal-base {
  .adm-center-popup-wrap {
    min-width: 80vw;
  }

  .adm-modal-body {
    padding: 60px;
    padding-bottom: 50px;
    color: var(--main-title-color);
    min-width: 80vw;
    box-sizing: border-box;
  }

  .adm-modal-title {
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 0;
  }

  .adm-modal-content {
    min-height: 182px;
    max-height: 600px;
    padding: 0;
    overflow: auto;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
  }

  .modal-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin: 40px 0;
  }
}

.popup {
  .footer-buttons {
    display: flex;
    color: var(--main-text-color);
    font-size: 28px;
  }

  .footer-buttons-cancel,
  .footer-buttons-ok {
    flex: 1;
    padding: 22px 0;
    text-align: center;
  }

  .footer-buttons-cancel {
    color: var(--main-content-color);
    box-shadow: 0 -2px 0 0 #f7f8fc;
  }

  .footer-buttons-ok {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #bb874a;

    &.disabled {
      opacity: 0.58;
      box-shadow: 0 -2px 0 0 #f7f8fc;
    }
  }
}

.adm-modal-footer.adm-space {
  --gap-vertical: 0;
  --color: var(--link-color);

  text-align: center;

  .adm-space-item {
    // width: 100%;
    height: 100%;
  }

  .adm-button {
    height: 100%;
  }

  .adm-button.adm-button-primary {
    --color: var(--button-primary-color);

    color: var(--color);
  }

  .adm-button.adm-button-primary.confirm {
    color: var(--button-primary-color-confirm);
  }

  .adm-button.adm-button-primary.cancel {
    background-color: var(--second-tab-background);
    color: var(--main-content-color);
  }

  .adm-modal-footer.adm-space .adm-button.adm-button-primary {
    border: 0;
  }
}

body .alert {
  .adm-modal-body-title {
    color: var(--main-title-color);
  }

  .adm-auto-center-content {
    color: var(--main-content-color);
  }

  .adm-modal-footer.adm-space {
    --gap-vertical: 0;
    --color: var(--link-color);

    text-align: center;

    .adm-space-item {
      width: 100%;
    }

    .adm-button {
      height: 100%;
    }
  }
}

body .adm-radio .adm-radio-icon {
  border: 2px solid var(--main-tip-color);
}

// 下拉框
body .adm-popover {
  .adm-popover-inner {
    background-color: var(--pop-wrap-background);

    .adm-popover-menu-list {
      max-width: 200px;
      min-width: 120px;

      .adm-popover-menu-item {
        padding: 0 22px;

        .adm-popover-menu-item-text {
          white-space: nowrap;
          padding: 0;
          text-align: center;
          color: var(--main-text-color);
          height: 61px;
          line-height: 61px;
          font-size: 24px;
          border-top: solid 2px var(--pop-bottom-border);
        }
      }
    }
  }
}

body .adm-popup-body {
  // 日期的选择样式
  background: var(--modal-mian-background);
  border-radius: 12px 12px 0 0;
  max-height: 80%;

  .adm-picker-view {
    background: var(--second-page-background);

    --item-font-size: 28px;
    --item-height: 65px;
  }

  .adm-picker-view-mask-bottom {
    background: var(--picker-view-background-bottom);

    // background: var(--picker-view-background);
  }

  .adm-picker-view-mask-top {
    background: var(--picker-view-background);
  }

  .adm-picker-view-column-item-label {
    color: var(--main-title-color);
  }

  .am-picker-col-item {
    color: var(--main-title-color);
  }

  .adm-picker-header {
    border-bottom: solid 1px var(--picker-border-color);
  }

  .adm-picker-view-mask-middle {
    border-bottom: var(--picker-border-color);
    border-top: var(--picker-border-color);
  }
}

body .adm-button-primary {
  --color: var(--link-color);
}

body .adm-popover-inner {
  background-color: var(--modal-mian-background);
}

body .adm-popover-inner-menu {
  border-bottom: 1px solid var(--picker-border-color);
}

body .adm-popover-arrow-content {
  background-color: var(--modal-mian-background);
}

body .adm-modal-body {
  // 弹窗样式
  background-color: var(--modal-mian-background);

  .adm-modal-title {
    font-weight: 500;
    color: var(--main-title-color);
  }

  .adm-space.adm-space-block {
    color: var(--main-title-color);
  }

  .adm-auto-center {
    // 弹窗样式
    color: var(--main-title-color);
  }

  .adm-modal-footer-empty {
    display: none;
  }
}

body .adm-tabs-tab {
  font-size: 25px;
}
