// 自选分组antd mobile tab共享样式
.override-antd-tabs {
  --tabs-header-height: 80px;

  &.override-antd-tabs-border-b {
    border-bottom: 1PX solid var( --main-page-background);
  }

  .adm-tabs-tab-line {
    bottom: 4px;
  }

  &.override-antd-tabs-hide-active-line {
    .adm-tabs-tab-line {
      display: none;
    }
  }

  display: flex;
  background-color: white;

  .adm-tabs-header-mask {
    display: none;
  }

  .adm-tabs {
    --fixed-active-line-width: 34px;
    --active-line-color: var(--main-theme-color);
    --active-line-height: 6px;
    --active-line-border-radius: 3px;
    --active-title-color: var(--main-text-color);

    height: var(--tabs-header-height);
  }

  .adm-tabs-tab {
    font-size: 30px;
    color: var(--secondary-text-color);
  }

  .adm-tabs-tab-active {
    font-weight: bold;
    color: var(--main-text-color);
  }

  .adm-tabs-header {
    border-bottom: none;
  }
}
