.label-column {
  padding: 24px 10px 10px;
  box-sizing: border-box;
}

.content-column {
  padding: 0 10px;
  box-sizing: border-box;
}

.double-row {
  display: flex;
  flex-direction: column;
  gap: 12px;

  & > div:first-child {
    @apply font-regular-30;
  }

  & > div:last-child {
    @apply font-regular-26;
  }
}
